@font-face {
    font-family: 'SFPro';
    src: url(/public/fonts/SFProDisplay-Light.woff) format('woff'), url(/public/fonts/SFProDisplay-Light.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'SFPro';
    src: url(/public/fonts/SFProDisplay-Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'SFPro';
    src: url(/public/fonts/SFProDisplay-Medium.woff) format('woff'), url(/public/fonts/SFProDisplay-Medium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'SFPro';
    src: url(/public/fonts/SFProDisplay-Semibold.woff) format('woff'), url(/public/fonts/SFProDisplay-Semibold.woff2) format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'SFPro';
    src: url(/public/fonts/SFProDisplay-Bold.woff) format('woff'), url(/public/fonts/SFProDisplay-Bold.woff2) format('woff2'), url(/public/fonts/SFProDisplay-Bold.otf) format('otf');
    font-weight: 700;
}

@font-face {
    font-family: 'SFPro';
    src: url(/public/fonts/SFProDisplay-Heavy.woff) format('woff'), url(/public/fonts/SFProDisplay-Heavy.woff2) format('woff2');
    font-weight: 900;
}