.list-reasons-why {
    margin: 0;
    margin-top: 41px;
    padding: 0 10px;
  
    font-family: "SFProDisplay-Bold";
    color: #6E6E73;
    line-height: 26px;
    font-size: 26px;
    font-weight: 700;
  }
  
  .list-reasons-why li {
    display: flex;
    margin-top: 81px;
  
    list-style-type: none;
  }
  
  .list-reasons-why li:first-child {
    margin-top: 0;
  }
  
  .list-reasons-why li:nth-child(odd)::before {
    content: "";
  
    position: absolute;
    left: 0;
  
    transform: translate(0, -13%);
  
    width: 110px;
    height: 57px;
  
    background-image: url("../../image/reason-image-left.png");
  }
  
  .list-reasons-why li:nth-child(even)::after {
    content: "";
  
    position: absolute;
    right: 0;
  
    transform: translate(0, -14%);
  
    width: 160px;
    height: 98px;
  
    background-image: url("../../image/reason-image-right.png");
  }
  
  .list-reasons-why li:last-child {
    margin-top: 67px;
  }
  
  .list-reasons-why__item-wrapper {
    width: 222px;
  }
  
  .list-reasons-why li:nth-child(even) .list-reasons-why__item-wrapper {
    margin-left: 25px;
  }
  
  .list-reasons-why li:nth-child(odd) .list-reasons-why__item-wrapper {
    margin-left: auto;
  }
  
  .list-reasons-why__item-text {
    margin: 0;
  
    font-family: "SFProDisplay-Bold", sans-serif;
    color: #000000;
    line-height: 19.5px;
    font-size: 17.5px;
    font-weight: 700;
  }
  
  .list-reasons-why__item-link {
    display: flex;
    margin-top: 7px;
    min-width: 194px;
  
    font-family: "SFProDisplay-Medium", sans-serif;
    color: #0060FF;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .list-reasons-why__item-link-arrow {
    display: inline-block;
    width: 8px;
    height: 9px;
  
    border-radius: 2px;
  
    border-top: 2px solid #0060FF !important;
    border-right: 2px solid #0060FF !important;
  
    margin-top: 6px;
    margin-left: 1px;
  
    transform: rotate(45deg);
    transition: 1s;
    
  }