.reviews-main__text {
    margin: 0;
    margin-top: 23px;
    padding: 0 52px;
  
    font-family: "SFProDisplay-Bold", sans-serif;
    color: #6E6E73;
    line-height: 27px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .reviews-main__text--black {
    color: #000000;
  }
  
  .reviews-main__link {
    display: flex;
    margin: 0 auto;
    margin-top: 44px;
    width: 121px;
  
    font-family: "SFProDisplay-Medium", sans-serif;
    color: #0060FF;
    line-height: 22px;
    font-size: 24px;
    font-weight: 500;
  }
  
  .reviews-main__link-arrow {
    display: inline-block;
    width: 11px;
    height: 11px;
  
    border-radius: 3px;
  
    border-top: 3px solid #0060FF !important;
    border-right: 3px solid #0060FF !important;
  
    margin-top: 6px;
    margin-left: 6px;
    
    transform: rotate(45deg);
    transition: 1s;
    
  }