.catalog-main {
    margin-top: 62px;
  }
  
  .catalog-main__link {
    display: flex;
    margin: 0 auto;
    width: 263px;
  
    font-family: "SFPro", Arial, sans-serif;
    font-weight: 500;
    color: #0060FF;
    line-height: 22px;
    font-size: 24px;
  }
  
  .catalog-main__link-arrow {
    display: inline-block;
    width: 11px;
    height: 11px;
  
    border-radius: 3px;
  
    border-top: 3px solid #0060FF !important;
    border-right: 3px solid #0060FF !important;
  
    margin-top: 6px;
    margin-left: 6px;
    
    transform: rotate(45deg);
    transition: 1s;
    
  }
  
  .catalog-main__image {
    margin-top: 65px;
  }