.main-page-for-you {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    margin: 0 auto;
    padding-bottom: 77px;
}

.main-page-for-you-title {
    width: 293px;
    margin: 0 auto;
    margin-top: 21px;
}

.title-block__text {
    font-family: "SFProDisplay-Bold", sans-serif;
    color: #6E6E73;
    line-height: 26px;
    font-size: 22.4px;
    font-weight: 700;
}

.title-block__text--black {
    color: #000000;
}

.main-page-for-you-image-electronic {
    margin: 0 auto;
    margin-top: 36px;
  }
  
  .main-page-for-you-why-francisco {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    margin-top: 36px;
  }
  
  .why-francisco-image {
    margin: 0 auto;
  }
  
  .logo-and-additional-icons-image {
    margin: 0 auto;
    margin-top: 24px;
  }