.menu-nav {
    width: 100%;
    display: flex;
    padding-bottom: 15px;
    background-color: white;

    left: 50%;
    bottom: 0;
    transform: translate(-50%);

    position: fixed;
}

.list-nav {
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 10px;
    width: 393px;

    display: flex;
    justify-content: space-between;
}

.menu-nav li {
    display: flex;
    width: 60px;

    list-style-type: none;
}

.list-nav__element-link {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.list-nav__element-link svg {
    margin: 0 auto;
}

.list-nav__element-text {
    margin: 0 auto;
    margin-top: auto;

    font-family: "SFProDisplay-Medium", sans-serif;
    color: #919193;
    line-height: 22px;
    size: 10px;
    font-size: 12px;
}

.list-nav__element-text--active {
    color: #0060FD;
}

.list-nav__element-link:active {
    color: #0060FD;
}

