.slider-electronics  {
    min-width: 0;
  
    padding: 0 10px;
    margin-top: 28px;
  
    overflow: hidden
  }
  
  .slider-electronics .slick-track {
    display: flex;
    align-items: flex-start;
  }
  
  .slider-electronics__element {
    height: 115px;
    display: flex;
    flex-direction: column;
  }
  
  .slider-electronics__element-text {
    margin: 0 auto;
    margin-top: auto;
  
    font-family: "SFPro", Arial, sans-serif;
    font-weight: 500;
  }
  
  .slider-electronics__element-image {
    height: 90px;
  }